.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
}

.modal-box input,
.modal-box textarea,
.modal-box select {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 12px;
  padding: 8px;
}
